<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="Bookmark" href="/favicon.ico" >
	<link rel="Shortcut Icon" href="/favicon.ico" />
	<!--[if lt IE 9]>
	<script type="text/javascript" src="/lib/html5.js"></script>
	<script type="text/javascript" src="/lib/respond.min.js"></script>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css" />
	<link rel="stylesheet" type="text/css" href="/lib/Hui-iconfont/1.0.8/iconfont.css" />

	<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin" />
	<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css" />
	<!--[if IE 6]>
	<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
	<script>DD_belatedPNG.fix('*');</script><![endif]-->
	<!--/meta 作为公共模版分离出去-->
	<title>基地报名</title>

</head>
<body>
<!--_header 作为公共模版分离出去-->
<div th:replace="common/header::header"></div>
<!--_menu 作为公共模版分离出去-->
<div th:replace="common/menu::menu"></div>

<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="/" class="maincolor">首页</a>
		<span class="c-999 en">&gt;</span><span class="c-666">实训管理</span>
		<span class="c-999 en">&gt;</span><span class="c-666">学生考勤管理</span></nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<div class="panel panel-default">
				<div class="panel-header">学生考勤管理</div>
			</div>
				<table class="table table-border table-bordered table-striped table-hover">
					<tbody class="text-c">
					<tr>
						<td>基地编号</td>
						<td>基地名</td>
						<td>基地描述</td>
						<td>报名人数</td>
						<td>报到日期</td>
						<td>状态</td>
						<td>操作</td>
					</tr>
					<tr th:each="base:${baseList}">
						<td><a th:text="${base.baseId}" th:href="@{/teacher/baseDetails(baseId=${base.baseId})}" class="c-primary"></a></td>
						<td th:text="${base.baseName}"></td>
						<td th:text="${base.baseDescription}"></td>
						<td><a class="c-primary" th:href="@{/teacher/enrolledStudents(baseId=${base.baseId})}">[[${base.baseEnrolmentNum}]]/[[${base.baseNum}]]</a></td>
						<td th:text="${#calendars.format(base.baseReportDate,'yyyy-MM-dd HH:mm')}"></td>
						<td th:utext="${base.baseStatus=='1'} ? '<span class=\'label label-success radius\'>已启用</span>':'<span class=\'label radius\'>已停用</span>'"></td>
						<td >
							<a class="btn btn-primary radius size-MINI" th:href="@{/teacher/registryManage(baseId=${base.baseId})}">&nbsp;&nbsp;考勤管理&nbsp;&nbsp;</a>
						</td>
					</tr>
					</tbody>
				</table>

		</article>
	</div>
</section>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">


</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
