<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teachingbase.dao.BaseFileMapper">

    <insert id="addBaseFile" parameterType="baseFile">
        insert into base_file values(#{baseId},#{filePath})
        ON DUPLICATE KEY UPDATE
        file_path = VALUES(file_path)
    </insert>

</mapper>
